/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
npm-debug.log

# Arquivos gerados pelo gulp
public/css/app.css
public/css/app.css.map
public/js/*
!public/js/vendor/*
public/imgs/medicos
