
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
  background-color: #FBFBFB;
  color: #636b6f;
  font-family: 'Raleway';
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 21px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.navbar{

  margin-bottom: 0;
  height:65px;
  background:#FBF9F6;

  .navbar-brand{
    img {
      height: 38px;
    }
  }
}

.filtros{
  background:#D8CFBE;
  color:white;
  padding:0 40px;
}

.container{
  .cards-medicos{
    .row{
      .thumbnail{
        background:#D8CFBE;
        color:white;
        float:left;

        img{
          float:left;
          width:50%;
        }

        .caption{
          float:left;
          width:50%;

          h3{
            margin-top:0;
            font-size:16px;
          }
          a{
            width:100%;
          }
        }

      }
    }
  }
}

.map {
  height: 400px;
  width: 100%;
}

.content{
  padding: 40px 0;
}

.footer {
  width: 100%;
  height: 150px;
  background:#FBF9F6;

  section{

    padding: 20px 0;
    &.container{
      padding-top:40px;

      img{
        cursor:pointer;
      }

      ul{
        list-style: none;
        width: 200px;
        padding: 0;
      }

     .icon-midia-social{
        width:32px;
        height: 32px;
        float: left;
        margin-right: 10px;
      }    

    }
  }

  .copyright{
    width: 100%;
    color: white;
    background:black;
  }
}


